<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="jp.ex_t.kazuaki.change_vision.pair-modeling.actionSet">
         <menu
               id="pair-modeling"
               label="%menu_group"
               path="tool/pair-modeling">
         </menu>
         <action
                 label="%menu_label_config"
                 icon="icons/sample.gif"
                 class="jp.ex_t.kazuaki.change_vision.ConfigurationAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/pair-modeling/"
                 id="jp.ex_t.kazuaki.change_vision.ConfigurationAction">
         </action>
         <action
                 label="%menu_label_pair_modeling"
                 icon="icons/sample.gif"
                 class="jp.ex_t.kazuaki.change_vision.PairModelingAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/pair-modeling/"
                 id="jp.ex_t.kazuaki.change_vision.PairModelingAction">
         </action>
     </actionSet>
   </extension>
</plugin>
