<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="jp.ex_t.kazuaki.change_vision.pair-modeling-prototype.actionSet">
         <menu
               id="pair-modeling-prototype"
               label="%menu_group"
               path="tool/pair-modeling-prototype">
         </menu>
         <action
                 label="%menu_label_receive"
                 icon="icons/sample.gif"
                 class="jp.ex_t.kazuaki.change_vision.ReceiveAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/pair-modeling-prototype/"
                 id="pair-modeling-prototype">
         </action>
         <action
                 label="%menu_label_send"
                 icon="icons/sample.gif"
                 class="jp.ex_t.kazuaki.change_vision.SendAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/pair-modeling-prototype/"
                 id="pair-modeling-prototype">
         </action>
         <action
                 label="%menu_label_pair_modeling"
                 icon="icons/sample.gif"
                 class="jp.ex_t.kazuaki.change_vision.PairModelingAction"
                 tooltip="%menu_tooltip"
                 menubarPath="tool/pair-modeling-prototype/"
                 id="pair-modeling-prototype">
         </action>
     </actionSet>
   </extension>
</plugin>
